.custom-expansion-panel {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 20px;
    position: relative;
    width: calc(100% - 40px);
  
    &__header {
      display: flex;
      height: 60px;
    }
  
    &__content {
        overflow-y: auto;
        transition: height 500ms;
    }
  
    &__primary-label {
        flex: 60%;
        &--full {
            flex: 90%;
        }
    }

    &__secondary-label {
        flex: 0%;
        &--exists {
            flex: 30%;
        }
    }
  
    &__expansion-icon {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex: 10%;
        justify-content: center;
        transition: all 500ms;
    }

    &--contracted {
        .custom-expansion-panel {
            &__content {
                height: 0;
            }

            &__expansion-icon {
                transform: rotate(0deg);
            }
        }
    }

    &--expanded {
        .custom-expansion-panel {
            &__content {
                height: 120px;
            }

            &__expansion-icon {
                transform: rotate(180deg);
            }
        }
    }
  }
  