$background-color: #fff;
$content-extracted-height: 0;
$content-expanded-height: 200px;
$header-height: 60px;
$header-margin: 20px;
$transition-time: 500ms;

.custom-expansion-panel {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    margin: $header-margin;
    position: relative;
    width: calc(100% - #{2 * $header-margin});
  
    &__header {
      display: flex;
      height: $header-height;
    }
  
    &__content {
        overflow-y: auto;
        transition: height $transition-time;
    }
  
    &__primary-label {
        align-items: center;
        display: flex;
        flex: 60%;

        &--full {
            flex: 90%;
        }
    }

    &__secondary-label {
        align-items: center;
        display: flex;
        flex: 30%;
    }
  
    &__expansion-icon {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex: 10%;
        justify-content: center;
        transition: all $transition-time;
    }

    &--contracted {
        .custom-expansion-panel {
            &__content {
                height: $content-extracted-height;
            }

            &__expansion-icon {
                transform: rotate(0deg);
            }
        }
    }

    &--expanded {
        .custom-expansion-panel {
            &__content {
                height: $content-expanded-height;
            }

            &__expansion-icon {
                transform: rotate(180deg);
            }
        }
    }
  }
  