body {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.app {
    background-color: lightgray;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: calc(100vh - 20px);
    padding: 10px;

    .item {
        outline: solid 2px black;
    }

    // div:nth-child(1) {
    //     grid-column: 2 / span 1;
    // }
}
